{% extends 'index.html' %}

{% block content %}

<div class="recapitulation">
    <div class="collection with-header">

        <table class="table table-striped">

  <thead>
    <tr>
        <th scope="row"></th>
      <th scope="col">Nom Sujet : {{subEtu.nomSujet}}</th>
    </tr>
  </thead>
    <tbody>


    <tr>
        <th scope="row">Note Sujet :</th>
        <td>{{note}}/990</td>

    </tr>
    <tr>
        <th scope="row">Nombre bonnes réponses Listening :</th>
        <td>{{listening}}/100</td>

    </tr>
    <tr>
        <th scope="row">Nombre bonnes réponses Reading</th>
        <td>{{reading}}/100</td>

    </tr>




  </tbody>


</table>
    </div>
</div>

{% endblock %}