{% extends 'index.html' %}

{% block title %}Creation Sujet{% endblock %}
{% block content %}
<button onclick="timer()">Start count!</button>
    <input type="text" id="txt">

<button onclick="stopCount()">Stop count!</button>

<form method="post" action="">
    {% csrf_token %}


    <div class="container">
        {% for quest in form %}



        <legend class="col-form-label col-sm-2 pt-0">{{ quest.label_tag }}</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio1" value="A" >
          <label class="form-check-label" for="inlineRadio1">A</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio2" value="B">
          <label class="form-check-label" for="inlineRadio2">B</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio3" value="C">
          <label class="form-check-label" for="inlineRadio3">C</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio4" value="D">
          <label class="form-check-label" for="inlineRadio4">D</label>
        </div>



        {% endfor %}
          </div>












    <div class=" col m-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>




</form>



{% endblock %}