{% extends 'index.html' %}

{% block title %}Creation Sujet{% endblock %}
{% block content %}


<body onload="timer()">
<h3>Temps restant :<a id="demo"></a></h3>

{{}}
<form method="post" action="">
    {% csrf_token %}


    <div class="container">

        {% for quest in form %}



        <legend class="col-form-label col-sm-2 pt-0">{{ quest.label_tag }}</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio1" value="A"checked >
          <label class="form-check-label" for="inlineRadio1">A</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio2" value="B">
          <label class="form-check-label" for="inlineRadio2">B</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio3" value="C">
          <label class="form-check-label" for="inlineRadio3">C</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{ quest.label }}" id="inlineRadio4" value="D">
          <label class="form-check-label" for="inlineRadio4">D</label>
        </div>



        {% endfor %}
          </div>












    <div class=" col m-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>




</form>
<script>
    function timer(){
    const start = Date.now();

    var t;


     var fin = start + 11500;
     timedCount();




    function timedCount() {
      var ptmp = new Date();
      var tempRest = fin - ptmp
      var diff = new Date(tempRest)
      diff.setHours(diff.getHours() - 1)
      var d = diff.toLocaleTimeString();
      if (tempRest > 0){
        document.getElementById("demo").innerHTML = d;

      }
      else {
        document.getElementById("demo").innerHTML = "Terminé !!";
        document.location.href="http://127.0.0.1:8000/";

      }


      t = setTimeout(timedCount, 1);




    }
}
</script>
</body>


{% endblock %}