{% extends 'index.html' %}

{% block content %}

<div class="page">
  <div class = "formulaire">
    <div class="blocCentrer">
      <form method="post" action="">
          {% csrf_token %}
            <div class = "case">
                <label for="id_date">Date Session: (YYYY-MM-DD HH:MM:SS)</label><br>
                <input type="date" name="dateSession" required id="id_date">
            </div>

            <div class = "case">
                <label for="id_sub">Num Subject :</label><br>
                <input type="text" name="numSujet" required id="id_sub" >
            </div>



            <div class="boutonForm">
                <button class ="btn purple" type="submit" >Créer une session</button>
            </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}
