
{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Mon Compte</h5>
                      {% if request.session.estEtu %}
                        <a href="{% url 'dashboardEtu' %}" class="card-link">Voir mon compte</a>
                      {% else %}
                    <a href="{% url 'dashboardProf' %}" class="card-link">Voir mon compte</a>
                      {% endif %}
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      {% if request.session.estEtu %}
                      <h5 class="card-title">Faire un sujet</h5>
                        <a href="{% url 'create_subject_etu' %}" class="card-link">Faire un sujet</a>
                      {% else %}
                      <h5 class="card-title">Créer un sujet</h5>
                        <a href="{% url 'create_subject_prof' %}" class="card-link">Créer un sujet</a>
                      {% endif %}
                 </div>

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                      {% if not request.session.estEtu %}
                      <h5 class="card-title">Créer une session</h5>
                        <a href="{% url 'create_session' %}" class="card-link">Créer une session</a>

                      {% endif %}
                 </div>

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <a href="#" class="card-link">Voir les stats</a>
                 </div>

                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Mes Sujets</h5>
                    <a href="#" class="card-link">Voir mes sujets</a>
                 </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}