<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>TOEIC WebSite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'toeic.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="active" href="{% url 'homepage' %}">TOEIC Website</a>
      </li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>

        {% endif %}
    </ul>


     {% if user.is_authenticated %}
        <div class="col-3">

            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 18rem;">
              <a class="navbar-brand" href="#">Menu</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'homepage' %}">Accueil</a>
                    {% if request.session.estEtu %}
                     <a class="nav-item nav-link" href="{% url 'dashboardEtu' %}">Mon Compte</a>
                     <a class="nav-item nav-link" href="#">Faire un sujet TOEIC</a>

                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'dashboardProf' %}">Mon Compte</a>
                    <a class="nav-item nav-link" href="{% url 'create_subject_prof' %}">Proposer un sujet TOEIC</a>
                    {% endif %}

                    <a class="nav-item nav-link" href="#">Statistiques</a>
                    <ul>
                        <li><a href="#">Par classe</a></li>
                        <li><a href="#">Par partie</a></li>
                        <li><a href="#">Par sujet</a></li>
                    </ul>

                </div>
              </div>
            </nav>
        </div>

    {% else %}
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vous êtes un Etudiant</h5>
                <a href="{% url 'login' %}" class="btn btn-primary">Vous connecter</a>
                  <a href="{% url 'signupEtu' %}" class="btn btn-primary">Vous inscrire</a>

              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vous êtes un Enseignant</h5>
                <a href="{% url 'login' %}" class="btn btn-primary">Vous connecter</a>
                  <a href="{% url 'signupProf' %}" class="btn btn-primary">Vous inscrire</a>

              </div>
            </div>
          </div>
        </div>


    {% endif %}





{% block content %}

{% endblock %}

<!----- Scripts Bootstrap------>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<footer class="footer">
  <a href="">Nous contacter</a>
  <a href="">Test</a>
  <a href="">Test</a>
  <a href="">Test</a>
</footer>
</body>


</html>