{% extends 'index.html' %}

{% block content %}

<style>
table-striped{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
</style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'stats' %}">Statistiques</a></li>
    <li class="breadcrumb-item active" aria-current="page">par Sujet</li>
  </ol>
</nav>
<h3> Mes sujets :</h3>



{% if request.session.estEtu %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom du sujet</th>
      <th scope="col">Note</th>
      <th scope="col">Voir mes réponses</th>
      <th scope="col">Voir mes stats</th>

    </tr>
  </thead>
    <tbody>
    {% for i in listSujetEtu %}


    <tr>


      <td>{{ i.nomSujet }}</td>
      <td>{{ i.noteSujet }}/990</td>
      <td><a href="http://127.0.0.1:8000/read/subject/{{i.numSujet}}">Mes réponses</a></td>
      <td><a href="http://127.0.0.1:8000/stats_par_sujet_etu/{{i.numSujet}}">Statistiques</a></td>
    </tr>


    {% endfor %}
  </tbody>

</table>
{% else %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nom du sujet</th>
      <th scope="col">Voir les réponses</th>
    </tr>
  </thead>
    <tbody>
    {% for i in listSujetProf %}


    <tr>


      <td>{{ i.nomSujet }} </td>
      <td><a href="http://127.0.0.1:8000/read/subject/{{i.numSujet}}">Réponses</a></td>
    </tr>


    {% endfor %}
  </tbody>

</table>
{% endif %}

{% endblock %}



