{% extends 'index.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'stats' %}">Statistiques</a></li>
    <li class="breadcrumb-item"><a href="{% url 'listeClasse' %}">par Classe</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{classe.nomClasse}} {{classe.promoClasse}}</li>
  </ol>
</nav>
<div class=" text-center">

        <table class="table table-striped">

  <thead>


    <tr>
      <th scope="col">Nom des Etudiants: </th>
    </tr>
  </thead>
    <tbody>
{% for i in listeEtudiant %}

    <tr>

        <td>{{ i.first_name }}  {{ i.last_name }}</td>
        <td><a href="http://127.0.0.1:8000/stats_par_partie_etu_prof/{{i.username}}">Voir les statistiques de l'Etudiant</a></td>

    </tr>


    {% endfor %}





  </tbody>


</table>
        </div>
  
    

    
  
    
  </tbody>
</table>

{% endblock %}