{% extends 'index.html' %}

{% block content %}

<h3> Liste des classes :</h3>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Statistiques</a></li>
    <li class="breadcrumb-item active" aria-current="page">par Classe</li>
  </ol>
</nav>

<div class=" text-center">

        <table class="table table-striped">

  <thead>


    <tr>
      <th scope="col">Nom de la Classe : </th>
        <th scope="col">Voir les Stats </th>
        <th scope="col">Voir les Etudiants </th>
    </tr>
  </thead>
    <tbody>
{% for i in listeClasse %}

    <tr>

        <td>{{ i.nomClasse }} {{i.numClasse}}</td>
        <td><a href="http://127.0.0.1:8000/statsClasses/{{i.numClasse}}">Voir les statistiques</a></td>
        <td><a href="http://127.0.0.1:8000/stats_par_partie_etu_prof/{{i.numClasse}}">Liste Etudiants</a></td>

    </tr>


    {% endfor %}





  </tbody>


</table>
        </div>
  
    

    
  
    
  </tbody>

</table>

{% endblock %}