{% extends 'index.html' %} 
 
{% block content %} 
 
<h3> Liste de sujets:</h3>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'stats' %}">Statistiques</a></li>
    <li class="breadcrumb-item active" aria-current="page">par Sujet</li>
  </ol>
</nav>


<div class="recapitulation">
    <div class="collection with-header">
         <figure class="highcharts-figure">
    <div id="containerP"></div>
    <div id="containerBar"></div>
</figure>
                <div class=" text-center">

        <table class="table table-striped">

  <thead>
    <tr>

      <th style= "text-align:center"scope="col">Nom du Sujet </th>
        <th style= "text-align:center"scope="col">Voir les stats </th>

    </tr>
  </thead>
    <tbody>
 {% for i in listeSujet %}

    <tr>

        <td>Sujet n° : {{i.numSujet.numSujet}}</td>
        <td><a href= "http://127.0.0.1:8000/stats_par_sujet_prof/{{i.numSujet.numSujet}}"> Voir les statistiques</a></td>

    </tr>

    {%endfor%}





  </tbody>


</table>
        </div>


 
{% endblock %}