{% extends 'index.html' %}

{% block content %}

<div class="recapitulation">
    <div class="collection with-header">

        {% if not request.session.estEtu %}
        <h3>Num Sujet : {{sub.numSujet}}</h3>
        <h5>Mdp Sujet : {{sub.mdpSujet }}<h5>
            {% endif %}
        <h5>Nom Sujet : {{ sub.nomSujet }} </h5><br>


            <div class="container">
                <div class="row">
                     <div class="col">
                <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Listening</th>
    </tr>
  </thead>
    <tbody>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Reponse</th>
    </tr>
  </thead>
    <tbody>
    {% for i in listening %}


    <tr>

      <td>{{ i.nomQuestion }}</td>
      <td>{{ i.reponseQuestion }}</td>
    </tr>


    {% endfor %}
  </tbody>


</table>
            </div>
<div class ="col">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Reading</th>
    </tr>
  </thead>
    <tbody>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Reponse</th>
    </tr>
  </thead>
    <tbody>
    {% for i in reading %}


    <tr>

      <td>{{ i.nomQuestion }}</td>
      <td>{{ i.reponseQuestion }}</td>
    </tr>


    {% endfor %}
  </tbody>


</table>


</div>

                </div>
            </div>

            {% if  request.session.estEtu %}
            <div class="mx-auto" style="width: 200px;">
                <a class="btn btn-primary" href="http://127.0.0.1:8000/corriger/{{sub.numSujet}}">Corriger le sujet</a>
            </div>

            {% endif %}

    </div>
</div>

{% endblock %}