{% extends 'index.html' %}

{% block content %}

<div class="recapitulation">
    <div class="collection with-header">
        <h3> Nom Sujet : {{ sub.nomSujet }} </h3><br>
        <h3>Mdp Sujet : {{sub.mdpSujet }}<h3><br>

        <ul>
            <li>Num Sujet : {{sub.numSujet}}</li>
            <li>REPONSES</li>
            {% for field in questions %}
            <li>
              {{ field.nomQuestion }} : {{ field.reponseQuestion }}

            </li>
            {% endfor %}

        </ul>
            {% if not request.session.estEtu %}
            <a href="{% url 'create_session' %}" >Créer une session</a>
            {% else %}
            <a href="http://127.0.0.1:8000/corriger/{{sub.numSujet}}">Corriger le sujet</a>
            {% endif %}

    </div>
</div>

{% endblock %}