{% extends 'index.html' %} 
 
{% block content %} 
 
<div class="recapitulation"> 
    <div class="collection with-header"> 
         
  
         
            
            <ul> 
                <li>La note maximale pour ce sujet est : {{maximum}}</li> 
                <li>La note minimale pour ce sujet est : {{minimum}}</li> 
                <li>La moyenne pour ce sujet est : {{moyenne}}</li> 
               
               
 
             </ul> 
 
         
         
 
         
    </div> 
</div> 
 
{% endblock %}