{% extends 'index.html' %}

{% block content %}

<div class="recapitulation">
    <div class="collection with-header">
    	
 
        
           
        	<ul>
                <h3>Reading : </h3>
        		<li>La note maximale de la partie Reading est : {{maxReading}}</li>
        		<li>La note minimale de la partie Reading est : {{minReading}}</li>
                <li>La moyenne de la partie Reading est : {{moyReading}}</li>
                <li>Liste notes Reading: {{notesReading}}</li>
                <h3>Listening :</h3>
                <li>La note maximale de la partie Listening est : {{maxListening}}</li>
                <li>La note minimale de la partie Listening est : {{minListening}}</li>
                <li>La moyenne de la partie Listening est : {{moyListening}}</li>
                <li>Liste notes Listening: {{notesListening}}</li>

             </ul>

		
		

        
    </div>
</div>

{% endblock %}