{% extends 'index.html' %}

{% block content %}

{% if user.is_authenticated %}
<div id="homepage_back">
  </br>
    <div classe = "container">
      <div class="row">
            <div class="col-sm-6">
                <div class="card cardi card bg-blue border-info mb-3" style="width: 24rem;">
                    <div class="card-body">
                      <h5 class="card-title">Stats par sujet</h5>
                        {% if request.session.estEtu %}
                          <a href="{% url 'voir_sujet' %}" class="btn btn-info">Voir mes stats</a>
                        {% else %}
                      <a href="{% url 'liste_sujet_prof' %}" class="btn btn-info">Voir les stats</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card cardi card bg-blue border-info mb-3" style="width: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">Stats par partie</h5>
                        {% if request.session.estEtu %}

                          <a href="{% url 'stats_par_partie_etu' %}" class="btn btn-info">Voir mes stats</a>
                        {% else %}

                          <a href="{% url 'stats_par_partie_prof' %}" class="btn btn-info">Voir les stats</a>
                        {% endif %}
                  </div>
                </div>
            </div>
      </div>
      </br>
        {% if not request.session.estEtu %}
      <div class="row">
            <div class="col-sm-6 ">
                <div class="card cardi card bg-blue border-info mb-3" style="width: 24rem;">
                    <div class="card-body">
                      <h5 class="card-title">Statistiques par classes</h5>

                      <a href="{% url 'listeClasse' %}" class="btn btn-info">Voir les stats</a>

                  </div>
                </div>
            </div>

          <div class="col-sm-6">
                <div class="card cardi card bg-blue border-info mb-3 " style="width: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">Stats par élèves</h5>


                          <a href="{% url 'listeEtu' %} " class="btn btn-info">Voir les stats</a>

                  </div>
                </div>
            </div>
      </div>
        {% endif %}
      </br>
      </div>
    </div>
</div>
    {% else %}
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vous êtes un Etudiant</h5>
                <a href="{% url 'login' %}" class="btn btn-primary">Vous connecter</a>
                  <a href="{% url 'signupEtu' %}" class="btn btn-primary">Vous inscrire</a>

              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vous êtes un Enseignant</h5>
                <a href="{% url 'login' %}" class="btn btn-primary">Vous connecter</a>
                  <a href="{% url 'signupProf' %}" class="btn btn-primary">Vous inscrire</a>

              </div>
            </div>
          </div>
        </div>
{% endif %}

{% endblock %}