{% extends 'index.html' %}

{% block content %}

<div class="page">
  <div class = "formulaire">
    <div class="blocCentrer">
      <form method="post" action="">
          {% csrf_token %}
            <div class = "case">
                <label for="id_first_name">First Name :</label><br>
                <input type="text" name="first_name" required id="id_first_name" value="{{ user.first_name }}">
            </div>

            <div class = "case">
                <label for="id_last_name">Last Name :</label><br>
                <input type="text" name="last_name" required id="id_last_name" value={{ user.last_name }}>
            </div>

            <div class = "case">
                <label for="id_email">E-mail :</label><br>
                <input type="email" value={{ user.email }} name="email" required id="id_email">
            </div>

            <div class="form-group">
            <label for="exampleFormControlSelect1">Class:</label>

            <select name="classeEtu" class="form-control" id="exampleFormControlSelect1">
                {% for cla in Classe_choices %}
              <option>{{cla}}</option>
                {% endfor %}
            </select>

          </div>
          <div class = "case">
                <label for="id_prom">Prom :</label><br>
                <input type="text"  name="promoEtu" required id="id_prom" value={{ etu.promoEtu }}>
            </div>

            <div class="boutonForm">
                <button class ="btn purple" type="submit" >Modifier mes informations personnelles</button>
            </div>

      </form>

    </div>

  </div>

</div>

{% endblock %}

