

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.nav-wrapper form {
	display: flex;
}

.formulaire {
  justify-content:center;
  display: flex;
  border-radius : 50px;
  border-color : black;
  border-width : 5px;
}

.justify-content-center{
  background: #D0E4F5;
}

.footer{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: 3px solid #1C6EA4;
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #D0E4F5;
  margin-top: 20px; 
}
